select {
    appearance: none;
    background: none;

    border: none;
    border-radius: 0;
    outline: none;

    &::-ms-expand {
        display: none;
    }
}

.select-list {
    border-width: 1px;
    border-style: solid;
    border: 0;
    border-image: initial;
    padding: 1.3rem 1.5rem;
    font-size: 1.6rem;
    width: 100%;
    cursor: pointer;
    background: url(/images/down_chevron.png) right 1rem center / auto 1rem no-repeat $grey;
}
